.headerWrap {
    position: absolute;
    display: flex;
    max-width: 1420px;
    width: 100%;
    height: 87px;
    color: white;
    inset: 0;
    margin-inline: auto;
    padding-inline: 10px;
    z-index: 1;
}

.logoLink {
    align-self: flex-end;
    width: max-content;
    height: 43px;
}

.pageLinksWrap {
    display: flex;
    width: inherit;
    height: inherit;
    align-items: flex-end;
    justify-content: space-between;
}

.publicLinks {
    display: flex;
    padding-left: 77px;
    padding-bottom: 4px;
    justify-content: space-between;
    align-items: center;
    max-width: 499px;
    width: 100%;
}

.publicLinks a {
    color: rgb(255, 255, 255);
    font-family: 'Mont', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 96.4%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

.userLinks {
    display: flex;
    height: inherit;
    align-self: flex-end;
    gap: 20px;
}

.likedPopupBtn,
.userPageBtn,
.cartLink {
    cursor: pointer;
    position: relative;
    background-color: white;
    border: none;
    width: 50px;
}

.likedPopupBtn img,
.userPageBtn img,
.cartLink img {
    position: absolute;
    inset-inline: 0;
    bottom: 14px;
    margin-inline: auto;
}

.mobMenuBtn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 40px;
    background: linear-gradient(150.16deg, rgb(94, 57, 40) 18.544%, rgb(228, 161, 111) 92.788%);
    border: none;
    align-self: flex-end;
}

@media (width <= 935px) {
    .publicLinks {
        max-width: 634px;
        padding-inline: 36px;
        position: absolute;
        top: 139px;
        inset-inline: 0;
        margin: auto;
    }

    .pageLinksWrap {
        justify-content: end;
    }


    .headerWrap {
        max-width: 1472px;
        padding-inline: 36px;
    }
}


@media (width <= 500px) {

    .mobMenuBtn {
        display: flex;
    }

    .publicLinks {
        display: none;
    }

    .likedPopupBtn {
        display: none;
    }

    .headerWrap {
        padding-right: 0;
    }

    .logoImg {
        width: 115px;
    }
}