.embla {
  max-width: 1403px;
  width: 100%;
  padding-inline: 10px;
  margin-inline: auto;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
}

.embla__slide {
  display: flex;
  justify-content: space-between;
  flex: 0 0 100%;
  gap: 30px;
}

.product-section-info {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: calc(33.3% - 30px);
  gap: 36px;
}

.embla__slide__img {
  display: block;
  height: 491px;
  width: 100%;
  object-fit: cover;
}


.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  position: absolute;
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button--prev,
.embla__button--next {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.embla__button--next {
  left: auto;
  right: 0;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  margin-top: 46px;
  gap: 10px;
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);

}

.embla__dot--selected {
  background: linear-gradient(123.87deg, rgb(94, 57, 40) -84.081%, rgb(228, 161, 111) 146.672%);
}

.embla-wrap {
  display: flex;
  position: relative;
  height: 959px;
  justify-content: center;
  align-items: center;
  background: rgba(11, 63, 55, 0.15);
}

.category-label {
  color: rgb(3, 20, 18);
  font-family: Lighthaus;
  font-size: 50px;
  font-weight: 400;
  line-height: 74.9%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 46px;
}

.catalog-btn {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 327px;
  height: 50px;
  background: linear-gradient(150.16deg, rgb(94, 57, 40) 19.981%, rgb(228, 161, 111) 92.915%);

  color: rgb(255, 255, 255);
  font-family: Mont;
  font-size: 18px;
  font-weight: 800;
  line-height: 96.4%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 40px;

  border: none;
}

.product-desc-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  color: rgb(3, 20, 18);
  font-family: Mont;
  font-size: 20px;
  font-weight: 600;
  line-height: 96.4%;
  letter-spacing: 0%;
  text-align: left;
}

.product-price {
  color: rgb(3, 20, 18);
  font-family: Mont;
  font-size: 30px;
  font-weight: 800;
  line-height: 96.4%;
  letter-spacing: 0%;
  text-align: left;
}

.like-button {
  display: flex;
  position: absolute;  
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 75px;
  background-color: white;
  border: none;
  top: 0;
  right: 0;
}

@media (max-width: 1100px) {
  .embla__slide .product-section-info:first-of-type {
    display: none;
  }

  .product-section-info {
    max-width: none;
    width: auto;
  }

  .embla__slide__img {
    height: 389px;
  }
}