@font-face {
    font-family: 'Mont';
    src: url('/fonts/Mont-ExtraLightDEMO.otf') format('opentype');
}

@font-face {
    font-family: 'Lighthaus';
    src: url('/fonts/Lighthaus.otf') format('opentype');
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}